<h2 class="right-line"><%= timeline.title %></h2>

<ul class="timeline-2">
	<% timeline.timeline_contents.each do |timeline_content| %>
		<li class="wow fadeInRight">
			<time class="timeline-time" datetime=""><%= timeline_content.timeline_date %></time>
			<i class="timeline-2-point"></i>

			<div class="panel panel-default">
				<div class="panel-heading"><%= timeline_content.title %></div>
				<div class="panel-body">
					<%=raw timeline_content.body %>
				</div>
			</div>
		</li>
	<% end %>
</ul>
